@model FileRenameRequest
@{
        ViewBag.Title = "Rename a file";
}

<h1>Rename</h1>

<form asp-controller="File" asp-action="AddText" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <p>Are you sure you want to delete the file <strong>@Model.FileName</strong>?</p>
	@*FileName*@
	<div class="form-field flex">
		<div class="w-25">
			<label for="FileName" class="form-label pt">File Name</label>
		</div>
		<div class="flex-1">
			<div class="flex-1">
				<input asp-for="FileName" class="form-input" placeholder="File Name" readonly="readonly" />
				<span asp-validation-for="FileName" class="text-red"></span>
			</div>
		</div>
	</div>

	@*FilePath*@
	<div class="form-field flex">
		<div class="w-25">
			<label for="FilePath" class="form-label pt">File path</label>
		</div>
		<div class="flex-1">
			<div class="flex-1">
				<input asp-for="FilePath" class="form-input" placeholder="File path" readonly="readonly" />
				<span asp-validation-for="FilePath" class="text-red"></span>
			</div>
		</div>
	</div>

	@*File Folder*@
	<div class="form-field flex">
		<div class="w-25">
			<label for="VirualFolderId" class="form-label pt">Virtual Folder ID</label>
		</div>
		<div class="flex-1">
			<div class="flex-1">
				<input asp-for="VirualFolderId" class="form-input" readonly="readonly" />
				<span asp-validation-for="VirualFolderId" class="text-red"></span>
			</div>
		</div>
	</div>

	@*Text to add*@
	<div class="form-field flex">
		<div class="w-25">
			<label for="NewFileName" class="form-label pt">New file name</label>
		</div>
		<div class="flex-1">
			<div class="flex-1">
				<input asp-for="NewFileName" class="form-input" placeholder="" />
				<span asp-validation-for="NewFileName" class="text-red"></span>
			</div>
		</div>
	</div>

	@*Submit*@
	<div class="form-field flex">
		<div class="w-25">
		</div>
		<div class="flex-1">
			<div class="flex-1">
				<button class="button button-green-back">Add</button>
				<div asp-validation-summary="All" class="text-red"></div>
				@if (ViewBag.Errors != null)
				{
					<div class="text-red ml">
						<ul>
							@foreach (var error in ViewBag.Errors)
							{
								<li class="ml">@error</li>
							}
						</ul>
					</div>
				}
			</div>
		</div>
	</div>
    <a asp-controller="File" asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>